body{
    background-color: rgb(33, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    width: 300px;
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: white;
    border-radius: 25px;

}

.todoitems{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todobutton{
    width: 100%;
    padding: 10px 20px ;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;

}
.todotext{
    margin-left: 7px;
}